<div class="well block-1 text-center">
  <h1>做一棵会思考的芦苇。</h1>
  <p>思考才有表达的欲望，想表达你就能学会英语</p>
  <%= link_to "开始学习", products_path, class: "btn btn-info btn-learn" %>
</div>

<div class="well block-2 text-center">

  <h2>我们重新定义英语学习</h2>

  <p>
  A thinking reed简称“思苇”网由从事英语教学5年的心理学者Claire和
  Ruby牛人Sophie共同建立。
  </p>
  <p>我们以认知心理学理论为基础，吸收排名世界第一芬兰教育的实践经验</p>
  <p>旨在让人人能够使用英语。</p>
  <img src='<%= image_url 'lb.jpg' %>'>

</div>

<div class="well block-3 text-center">
  <h2>人人可学的英语实用课程</h2>
  <h4>必有一款适合你</h4>

  <div class="row">
    <div class="col-sm-4 well">
      <img src='<%= image_url '1.jpg' %>'>

      <h3>教材经典实用</h3>
      <p>有多少人认为“学英语巨难无比？”</p>
      <p>你有没有想过“学不会不是你的原因”？ </p>
      <p>好的学习内容是一切学习成功的基石。</p>
    </div>
    <div class="col-sm-4 well">
      <img src='<%= image_url '5.jpg' %>'>

      <h3>学习轻松愉快</h3>
      <p>学的快乐才能学的会。</p>
      <p>我们遵循心理学原理讲课，清楚，明白。 </p>
      <p>团体互动式学习让你在社交中收获成就感。 </p>

    </div>
    <div class="col-sm-4 well">
      <img src='<%= image_url '3.jpg' %>'>

      <h3>带你练习带你飞</h3>
      <p>学好英语最大的问题是没有练习。</p>
      <p>我们配备了专业助教，随时随地给你指导。</p>
      <p>我们开设了从聊天到演讲写作的一系列专题，带你练习. </p>
    </div>
  </div>
</div>

<div class="well block-4 text-center">
  <h2>我们的学员说</h2>
  <p>原来我可以把英文学的这样好！</p>

  <div class="row">
    <div class="col-sm-4 well">
      <img src='<%= image_url '6.jpg' %>'>

      <p>Tom--这里不仅让我被Harvard录取，还让我爱上了英文！</p>
    </div>
    <div class="col-sm-4 well">
      <img src='<%= image_url '7-0.jpg' %>'>

      <p>Sherry and David--我们能和孩子讲英文了，这感觉太棒了！^_^</p>
    </div>
    <div class="col-sm-4 well">
      <img src='<%= image_url '8.jpg' %>'>

      <p>Alex--以前老是害怕学编程，但现在每天都与编程英文快乐相处。</p>
    </div>
  </div>
  </div>

  <!--===== 开始学习 =====-->
  <div class="well block-5 text-center">
    <%= link_to "开始学习", products_path, class: "btn btn-info btn-lg" %>
  </div>
