
<div class="well block-1 text-center">
  <h1>用英语,实现你被它耽误的梦想</h1>
  <p>人人都能用英语，你跟你的梦想之间就差这一步。</p>
  <%= link_to "实现梦想", products_path, class: "btn btn-info btn-learn" %>
</div>

<div class="well block-2 text-left">
  <div class="row">
    <div class="col-sm-6 ">
      <h2>
        我们为你揭开英语神秘的面纱
      </h2>

      <p>语言是人的本能--史蒂芬.平克。</p>
      <p>学会一种语言的关键在于使用。</p>
      <p>使用的关键在于迫切性。</p>
      <p>需要用才能会用。</p>
    </div>

    <div class="col-sm-6 ">
      <%= image_tag("br.jpg", class: "img-responsive") %>
    </div>
  </div>
</div>

<div class="well block-3 text-center">
  <h2>人人能会的英语实用课程</h2>
  <h4>只要你想交流</h4>

  <div class="row">
    <div class="col-sm-4">
      <div class="well feature">
        <img src='<%= image_url 'clock.jpg' %>'>

        <h3>每课10分钟，无限重听</h3>
        <p>“学好英语=听老师讲很多？”No！”</p>
        <p>不是每次“听老师讲了很多”，而是“每次都让自己学到新东西”。“Yes！”
        </p>
        <p>每次盯准一个目标。Run！</p>

      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="well feature">
        <img src='<%= image_url 'golden.jpg' %>'>

        <h3>每课100分，完美自己的人生</h3>

        <p>优化练习，节省时间。</p>
        <p>我们不认为60分是及格。</p>
        <p>我们认为100分才是掌握。</p>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="well feature">
        <img src='<%= image_url 'rocket.jpg' %>'>

        <h3>冲破牢笼，飞向天际</h3>
        <p>学好英语最大的障碍是没有练习。</p>
        <p>我们配备了专业助教，随时随地给你指导。</p>
        <p>我们开设了一系列专题社群，带你练习带你飞.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="well block-4 text-center">
  <h2>学员们迫不及待的心情</h2>
  <p>听听他们说</p>

  <div class="row">
    <div class="col-sm-4 ">
      <div class="well feature">
        <img src='<%= image_url '01.jpg' %>'>

        <p>以前我总以为学一个月就是为了考试，结果总是不理想。</p>
        <p>没想到带着提高演讲能力的心态，我不仅会演讲了，还考了满分。</p>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="well feature">
        <img src='<%= image_url '02.jpg' %>'>

        <p>Sherry and David--以前总在想要是能和孩子用英文交流该多好^_^</p>
        <p>没想到现在真的实现了，亲子间的互动变得好丰富！^_^</p>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="well feature">
        <img src='<%= image_url '03.jpg' %>'>

        <p>Alex--以前老是害怕学编程，觉得英文不会肯定学不好编程。</p>
        <p>但现在学了编程英语，我看到那些英文一点都不担心了。</p>
      </div>
    </div>
  </div>
</div>

<!--===== 开始学习 =====-->
<div class="well block-5 text-center">
  <%= link_to "实现梦想", products_path, class: "btn btn-raised btn-danger btn-lg" %>
</div>


<!-- Script to Activate the Carousel -->
<script>
  $('.carousel').carousel({
    interval: 5000 //changes the speed
  })

  $('#bootstrap-touch-slider').bsTouchSlider();
</script>

<script>
  $(document).ready(function () {
    $('.material-button-toggle').click(function () {
      $(this).toggleClass('open');
      $('.option').toggleClass('scale-on');
    });
  });
</script>

    <!--===== Go top（回到顶端） =====-->
    <div class="goTop">
        <span class="fa fa-chevron-up"></span>
    </div>
</div>

