<!--===== 商品类型 & 品牌选单 =====-->
<div class="btn-group">
    <div class="row">
        <!--=== 類型選單 ===-->
        <% @category_groups.each do |category_group| %>
            <div class='dropdown btn-group clearfix'>
                <button class='btn dropdown-toggle' type='button' data-toggle='dropdown'>
                    <%= category_group.name %> <i class="fa fa-angle-down"></i>
                </button>
                <!-- 選項：列出該類型所有分類 -->
                <ul class='dropdown-menu'>
                    <% category_group.categories.each do |category| %>
                        <li>
                            <%= link_to(category.name, products_path(:category => category.name)) %>
                        </li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
    <div class="path-box">
        <!--=== 产品页面路径 ===-->
        <div class="left-box">
            <%= link_to products_path do %>
                A thinking reed
        <% end %>
            <% if params[:id].present? %>
                / <a href="../products?group=<%= @product.category.category_group.name %>"><%= @product.category.category_group.name %></a> / <a href="../products?category=<%= @product.category.name %>"><%= @product.category.name %></a> / <a href="<%= @product.id %>"><%= @product.name %></a>
            <% elsif params[:category].present? %>
                / <a href="products?group=<%= @category.category_group.name %>"><%= @category.category_group.name %></a> / <a href="products?category=<%= @category.name %>"><%= @category.name %></a>
            <% elsif params[:group].present? %>
                / <a href="products?group=<%= @group.name %>"><%= @group.name %></a>
            <% end %>
        </div>
    </div>
</div>
<!-- 课程排序 -->
<!-- <% if current_page?('/products/search') %>
<div class="order-wrap">
    <ul class="order-list">
        <p class="list1" >课程排序：</p>
        <ol  class="order-listItem"><a href="/products?order=by_product_quantity">销量<i class="fa fa-arrow-down" ></i></a></ol>
        <ol  class="order-listItem"><a href="/products?order=by_product_price">价格<i class="fa fa-arrow-down" ></i></a></ol>
        <ol  class="order-listItem"><a href="/products">上架时间</a></ol>
    </ul>
</div>
<% end %> -->
