<div class="product-box">
<div class="container">

        <!--=== 商品類型 Banner ===-->
        <% if params[:id].present? %>
            <%= image_tag(@product.category.category_group.image, class: "background-image") %>
        <% elsif params[:category].present? %>
            <%= image_tag(@category.category_group.image, class: "background-image") %>
        <% elsif params[:group].present? %>
            <%= image_tag(@group.image, class: "background-image") %>
        <% else %>
            <%= image_tag("product_bg.jpg", class: "background-image") %>
        <% end %>
        <%= render "products/menu" %>
        <!-- <% @category_groups.each do |category_group| %>
    <div class='dropdown btn-group clearfix'>
      <button class='btn dropdown-toggle' type='button' data-toggle='dropdown'>
        <%= category_group.name %> <i class="fa fa-angle-down"></i>
      </button>
      <ul class='dropdown-menu'>
        <% category_group.categories.each do |category| %>
          <li>
            <%= link_to(category.name, products_path(:category => category.name)) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %> -->
    <div class="row">
        <% @products.each do |product| %>
            <!-- <div class="col-xs-6 col-md-3"> -->
            <div class='col-xs-12 col-sm-4 col-md-3' >
                <%= link_to product_path(product) do %>
                    <% if product.image.present? %>
                        <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                    <% else %>
                        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                    <% end %>
                <% end %>
                <%= product.name %> ￥ <%= product.price %>
            </div>
        <% end %>
    </div>
</div>
</div>
<style >
.product-box {
  text-align: center;
  padding: 0 0 100px 0;

.background-image {
width: 100%;
margin-bottom: 20px;
}
</style>
