<div class="container">
    <div class="row">
        <%= render "products/menu" %>
         <div class="pro-in"> <!-- 和排序文字的距离 -->
            <% @products.each do |product| %>
                <div class="col-xs-6 col-md-3">
                        <%= link_to product_path(product) do %>
                            <% if product.image.present? %>
                                <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
                            <% else %>
                                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                            <% end %>
                        <% end %>
                        <td width="100%">
                            <div >
                                <%= link_to(product.name, product_path(product))%>
                            </div>
                        </td>
                        <span class="price">￥ <%= product.price %></span>
                        <!-- 点赞图标 -->

                      </div>
                <% end %>
        </div>
    </div>
    <div class="text-center col-md-12 pagination">
        <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
    </div>
</div>
